{{ define "view/showsearch.tmpl" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form{
            line-height: 25px;
            text-align: center;
            background: url(/static/saintdiana.png);
            background-repeat: no-repeat;
            background-size: 70% 100%;
            background-position:center;
        }
        canvas{
            width:800px;height:600px;
            border:1px solid #000000;
            text-align: center;
        }
        .show_area{
            background:url(/static/star.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width:1000px;height:680px;
            border:1px solid #000000;
            margin:10px;padding: 20px;
        }
        .canvas_area{
            width:100%;height:620px;
            text-align: center;
            background-color: antiquewhite;
            padding: 0px
        }
        .bt{
            line-height: 10px;
            margin:30px;
            text-align: center;
        }
        #myapp{
            background: url(/static/bg.gif);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        } 
    </style>
</head>
<script src="https://cdn.bootcss.com/vue/2.5.2/vue.min.js"></script>
<script src="http://unpkg.com/axios/dist/axios.min.js"></script>

<body>
    <div id="myapp">
        <div class = "form_area">
            <form>
                障碍物密度:<br>
                <input type="text" name="dense" v-model.number="dense">
                <br>
                地图宽度:<br>
                <input type="text" name="cols"v-model.number="cols">
                <br>
                地图高度:<br>
                <input type="text" name="rows" v-model.number="rows">
                <br>
                代价下界:<br>
                <input type="text" name="costL"  v-model.number="costL">
                <br>
                代价上界:<br>
                <input type="text" name="costH" v-model.number="costH">
                <br>
                起点x:<br>
                <input type="text" name="startX" v-model.number="startX">
                <br>
                起点y:<br>
                <input type="text" name="startY" v-model.number="startY">
                <br>
                终点x:<br>
                <input type="text" name="targetX" v-model.number="targetX">
                <br>
                终点y:<br>
                <input type="text" name="targetY" v-model.number="targetY">
                <br>
                h值计算方法:<br>
                <select name="method" v-model="method">
                    <option value="halmi">曼哈顿距离</option>
                    <option value="euler">欧拉距离</option>
                </select>
                <br><br>
                <button type="button" v-on:click.prevent="getRunData">submit</button>
            </form> 
        </div>
        <div class = "pic_area">

            <div class="show_area">
                <div class = "canvas_area">
                    <canvas id="Dijkstra" ></canvas>
                </div>   
                <div class = "bt"> 
                    <button type="button" v-on:click.prevent="drawDijkstra">绘制Dijkstra算法图像</button>
                </div>
            </div>
        
            <div class = "show_area">
                <div class = "canvas_area">
                    <canvas id="Astar"></canvas>
                </div>
                <div class = "bt"> 
                    <button type="button" v-on:click.prevent="drawAstar">绘制A*算法图像</button>
                </div>
            </div>
            
            <div class = "show_area">
                <div class = "canvas_area">
                    <canvas id="DijkstraAstar"></canvas>
                </div>
                <div class = "bt"> 
                    <button type="button" v-on:click.prevent="drawMoA">绘制DijkstraA*算法图像</button>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
var watchExampleVM = new Vue({
  el: '#myapp',
  data: {
    dense: 0.5,
    cols: 50,
    rows: 50,
    method: '',
    costL: 1 ,
    costH: 9,
    startX: 0,
    startY: 0,
    targetX: 40, 
    targetY: 40,
    answer:'',
  },
  methods: {
        getRunData: function () {
            var vm = this
            axios.post('/selectdata', {
                    dense: vm.dense,
                    cols: vm.cols,
                    rows: vm.rows,
                    method: vm.method,
                    costL: vm.costL,
                    costH: vm.costH,
                    startX: vm.startX,
                    startY: vm.startY,
                    targetX: vm.targetX, 
                    targetY: vm.targetY,
            })
            .then(function (response) {
                alert("send");
                console.log(response);
            })
            .catch(function (error) {
                alert(error);
                console.log(error);
            });
        },
        drawDijkstra:function(){

        },
        drawAstar:function(){

        },
        drawMoA:function(){

        }
    }
})
</script>
{{ end }}